{
  "presets": [
    "react"
  ],
  "plugins": [
    "lodash",
    [
        "transform-runtime",
        {
            "helpers": true,
            "polyfill": false,
            "regenerator": false
        }
    ],
    "dev-expression"
  ],
  "env": {
    "node": {
      "presets": [
        [
          "env",
          { "targets": { "node": "current" } }
        ]
      ]
    },
    "client": {
      "presets": [
        [
          "env",
          { "targets": { "browsers": "last 2 versions" } }
        ]
      ]
    }
  }
}
