@import '../vars.global.sss'

.nav-bar
  background-color: $skip-azure
  box: horizontal space-between
  color: $bg-color
  height: 32px

.nav-auth-button
  background-color: inherit
  button: default-button
  color: $bg-color

.logo
  background-color: inherit
  button: default-button
  color: $bg-color
