@import '../vars.global.sss'

.auth
  box: vertical space-between center
  margin-left: auto
  margin-right: auto
  max-width: 271px
  width: 100%
  form
    width: 100%

.header
  text-align: center

.submit
  button: default
  font-size: $font-size-large
  padding: $padding-lg-vertical $padding-xl-horizontal
  width: 100%
